
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500;700&display=swap');

h1, h2 {
    color: aliceblue;
    font-family: 'Noto Sans TC', sans-serif;
}

.main {
    width: 900px;
    justify-content: space-evenly;
    margin-left: 400px;
    align-items: center;
}

.info {
    position: fixed;
    top: 95px;
    left: 15px;
    width: 350px;
}

hr {
    width: 900px;
    margin-left: 400px;
}

.photo {
    width: 350px;
    height: auto;
}

body {
    background-color: #F8F8FF;
    overflow-x: hidden;
    font-family: 'Noto Sans TC', sans-serif;
}

.animation:hover {
    transform: scale(1.05); 
}

.custom-container {
    background-color: white;
    border-radius: .25rem;
    padding: 10px;
    min-height: 200px;
}

h4 {
    color: #344050;
    margin-top: 15px;
}


h1 {
    font-size: 70px;
    margin-left: 20px;
}

h2 {
    font-size: 50px;
}

h4 {
    font-size: 30px;
}

svg {
    fill: #079992;
    margin: 10px;
}

.list-group-item {
    margin: 5px;
}

.sm-container {
    width: 400px;
    height: 170px;
    margin: 30px;
}

.card {
    height: 430px;
    margin-bottom: 30px;
    position: relative;
}

.card img {
    width: auto;
    height: 200px;
}

.tools {
    width: 500px;
}

.name {
    justify-content: flex-start;
    align-items: baseline;
    background-color: #079992;
    width: 100%;
    padding-left: 20px;
}

.btn {
    position: absolute;
    bottom: 20px;
    background-color: #079992;
    border-color: #079992;
}

.progress-bar {
    background-color: #079992;
}